@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tävlingar och Evenemang";
}
<link rel="stylesheet" href="~/css/Tavlingar-Evenemang.css" />
  <div class="header">
    <h1>Tävlingar och Evenemang</h1>
    <h2 class="h2head">Svinga mot stjärnorna... låt varje putt bli en seger!</h2>
  </div>

  <!--Flex content-->
  <div class="row">
    <div class="side">
        <div class="tavdropdown">
            <button class="tavdropbtn">MENY</button>
            <div class="tavdropdown-content">
                <a href="/Tavlingar/Index">Tävlingar och Evenemang</a>
                <a href="/Tavlingar/Kalender">Kalendar</a>
                <a href="/Tavlingar/resultat">Resultat</a>
                <a href="/Tavlingar/Anmalan">Anmälan</a>
            </div>
        </div>
<hgroup>
    <h3 class="haside1">Senaste månads tävlingresultat</h3>
    <p class="pinfo">Se nedan senaste månadens tävlingsresultaten nedan:</p>
</hgroup>

<div class="latest">
    <table>
        <tr>
            <th colspan="5">September</th>
        </tr>
        <tr>
            <th>Tävling</th>
            <th>Datum</th>
            <th>Priset</th>
            <th>Namn</th>
            <th>Slag/Poäng</th>
        </tr>
        <tr>
            <td>Höstcup</td>
            <td>5 Sep</td>
            <td>Vinnare</td>
            <td>Erik Svensson</td>
            <td>68 slag</td>
        </tr>
        <tr>
            <td>Höstcup</td>
            <td>5 Sep</td>
            <td>Andra plats</td>
            <td>Anna Johansson</td>
            <td>72 slag</td>
        </tr>
        <tr>
            <td>Klubbens öppna dag</td>
            <td>10 Sep</td>
            <td>Bästa nybörjare</td>
            <td>Julia Eriksson</td>
            <td>41 slag</td>
        </tr>
        <tr>
            <td>Herrseriens final </td>
            <td>15 Sep</td>
            <td>Vinnare</td>
            <td>Mats Andersson</td>
            <td>75 slag</td>
        </tr>
        <tr>
            <td>Träningstävling</td>
            <td>20 Sep</td>
            <td>Vinnare</td>
            <td>Lars Olsson</td>
            <td>71 slag</td>
        </tr>
        <tr>
            <td>Månadens bästa spelare</td>
            <td>30 Sep</td>
            <td>Vinnare</td>
            <td>Erik Svensson</td>
            <td>65 slag</td>
        </tr>
        <tr>
            <td>Månadens bästa spelare</td>
            <td>30 Sep</td>
            <td>Andra plats</td>
            <td>Maria Karlsson</td>
            <td>69 slag</td>
        </tr>
    </table>
</div>

<hgroup>
    <h3 class="haside1">Kommande månads tävlings- och evenemangskalender</h3>
    <p class="pinfo">Se nedan kommande tävlingar och evenemang:</p>
</hgroup>

<div class="ongoing">
    <table>
        <tr>
            <th colspan="3">November</th>
        </tr>
        <tr>
            <th>Datum</th>
            <th>Tid</th>
            <th>Tävlingar / Evenemang</th>
        </tr>
        <tr>
            <td>Nov 10</td>
            <td>09:00 - 17:00</td>
            <td>Klubbens 20-årsjubileum – Stort evenemang</td>
        </tr>
        <tr>
            <td>Nov 16</td>
            <td>10:00 - 14:00</td>
            <td>Inomhusgolftävling – Simulatorcup</td>
        </tr>
        <tr>
            <td>Nov 21</td>
            <td>10:00 - 15:00</td>
            <td>Julklappsgolf – Samla in klappar till behövande</td>
        </tr>
        <tr>
            <td>Nov 26</td>
            <td>12:00 - 15:00</td>
            <td>Träningstävling – Fokus på puttning</td>
        </tr>
        <tr>
            <td>Nov 30</td>
            <td>09:00 - 14:00</td>
            <td>Månadens bästa spelare – 18 hål</td>
        </tr>
    </table>
</div>

<div class="kalenderpdf">
    <hgroup>
        <h3 class="haside2">Kalender 2024:</h3>
        <p class="pinfo">
            Öppna PDF-filen för hela årets tävlingar och evenemang <a href="/images/pdfkalender.pdf">
                2024
                Kalender
            </a>.
        </p>
    </hgroup>
</div>

<div class="resultspdf">
    <hgroup>
        <h3 class="haside2">Tävlingars Resultat 2024:</h3>
        <p class="pinfo">
            Öppna PDF-filen för hela årets tävlingars resultat <a href="/images/pdfresults.pdf">
                2024
                Resultat
            </a>.
        </p>
    </hgroup>
</div>
    </div>


<div class="mainwelcome">
    <h2 class="uh2">Hej och varmt välkomna alla golfentusiaster!</h2>
    <div class="welcomevid">
        <video autoplay muted loop id="tevideo">
            <source src="/filmer/tavgolf5.mp4" type="video/mp4">
        </video>
        <p class="tavcallout">
            Vi är glada att välkomna er till en fantastisk säsong av golftävlingar och
            aktiviteter!<br><br>
            Förbered er för spännande matcher, roliga aktiviteter och chansen att träffa både gamla och nya vänner på
            golfbanan!
            Oavsett om du är en erfaren spelare eller nybörjare, kommer det att finnas något för alla. Vi har planerat
            allt från tävlingar med priser till sociala evenemang där vi kan njuta av gemenskapen.
            Håll ögonen öppna för datum och detaljer, och se till att anmäla er!<br><br>
            Tillsammans skapar vi minnen och upplevelser som varar livet ut. Låt oss göra denna golfsäsong
            oförglömlig!<br><br>

            Vi ses på banan!
        </p>
    </div>

</div>
  </div>
<!--End Geneskod: Tävlingar och Evenemang -->