@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nyheter";
}
<link rel="stylesheet" href="css/Nyheter.css" />
<div>
    <header class="header-picture">
    </header>
</div>

<main>
    <div class="wrapper">

        <section class="news">
            <h1>Senaste nytt från Golfklubben</h1>
            <article id="article1">
                <figure>
                    <img src="/images/golf-cart-756048_640.jpg" title="golfbil" alt="vår nya golfbil">
                    <figcaption>Nya golfbilar</figcaption>
                </figure>
                <hgroup>
                    <h3>Nya Golfbilar på Tuc Golfklubb!</h3>
                </hgroup>
                <p>
                    Vi är glada att meddela att Tuc Golfklubb har fått nya golfbilar för att förbättra din spelupplevelse! Våra moderna golfbilar är utrustade med bekväma säten, tysta motorer och förbättrad fjädring, vilket gör att du kan fokusera på ditt spel utan störningar.
                    Oavsett om du är en erfaren spelare eller nybörjare, kommer våra nya golfbilar att göra din runda ännu mer njutbar. Dessutom har vi implementerat miljövänliga alternativ för att minska vår påverkan på omgivningen.
                    Kom och prova våra nya golfbilar nästa gång du spelar – vi ser fram emot att välkomna dig på banan!
                </p>
            </article>

            <article id="article2">
                <figure>
                    <img src="/images/bernhard-longer-1501038_640.jpg" title="golftävling" alt="sommarens golftävling">
                    <figcaption>Sommarens golftävling</figcaption>
                </figure>
                <hgroup>
                    <h3>Stort intresse av sommarens tävlingar</h3>
                </hgroup>
                <p>
                    Under sommaren har Tucs Golfklubb varit en pulserande samlingspunkt för golfentusiaster, med ett stort intresse för våra golftävlingar. Vi är glada att meddela att vi satt publikrekord, vilket verkligen visar på klubbens växande popularitet.
                    Många nya ansikten har också dykt upp, vilket skapar en härlig atmosfär av gemenskap och sportlig entusiasm. Tack till alla deltagare och åskådare som har gjort dessa tävlingar till en succé – vi ser fram emot fler spännande evenemang framöver!
                </p>
            </article>

            <article id="article3">
                <figure>
                    <img src="/images/golf-1909115_640.jpg" title="golfkurs i höst" alt="golfklubbor">
                    <figcaption>Höstens golfkurser</figcaption>
                </figure>
                <hgroup>
                    <h3>Anmälan till höstens golfkurser är öppen!</h3>
                </hgroup>
                <p>
                    Nu har anmälan till våra populära golfkurser för hösten nu har öppnat! Oavsett om du är nybörjare eller erfaren spelare, erbjuder våra kurser något för alla. Här får du möjlighet att förbättra ditt spel, lära dig nya tekniker och träffa andra golfentusiaster.
                    Platserna är mycket eftertraktade och fylls snabbt, så vi rekommenderar att du anmäler dig så snart som möjligt för att säkra din plats. Vi ser fram emot en inspirerande och lärorik säsong, och vi vill gärna ha dig med på vår golfresa!
                    Tveka inte att kontakta oss om du har frågor eller behöver mer information. Vi ser fram emot att träffa dig på golfbanan!
                </p>
            </article>

            <article id="article4">
                <figure>
                    <img src="/images/screen-golf-2265263_640.jpg" title="golfsimulator-rum" alt="golfsimulator-rum">
                    <figcaption>Simulator-rummet</figcaption>
                </figure>
                <hgroup>
                    <h3>Simulator-rum i världsklass (nyrenoverat)!</h3>
                </hgroup>
                <p>
                    Vårt nyrenoverade golfsimulator-rum är här, och det håller toppklass! Här kan du spela golf oavsett väder – perfekt för de dagar då regnet öser ner eller vinden blåser för hårt.
                    Ta med polarna och utmana varandra i längsta skott, spela på världens mest kända banor eller bara ha kul tillsammans. Möjligheterna är oändliga, och det finns något för alla, oavsett nivå. Kom och upptäck vårt moderna simulator-rum och upplev golf på ett helt nytt sätt!
                    Vi ser fram emot att se dig här!
                </p>
            </article>

            <article id="article5">
                <figure>
                    <img src="/images/sunset-3086618_640.jpg" title="solnedgång golf" alt="golf i solnedgång">
                    <figcaption>Golf i solnedgång</figcaption>
                </figure>
                <hgroup>
                    <h3>🌅 Spela Golf i Solnedgången! En oförglömlig upplevelse 🌅</h3>
                </hgroup>
                <p>
                    Passa på att njuta av de ljumma sommarkvällarna hos oss! Att spela golf i solnedgången är en oförglömlig upplevelse, med den vackra himlen som bakgrund och en avkopplande atmosfär
                    Just nu erbjuder vi kvällsrabatt! Boka din runda via vår hemsida och skriv in rabattkoden "Sunset10" för att ta del av erbjudandet.
                    Upplev magin av golfspel när solen står upp sent och låt oss göra din kväll minnesvärd. Varmt välkommen till en fantastisk golfrunda i solnedgången!
                </p>
            </article>

            <article id="article6">
                <figure>
                    <img src="/images/table-5356682_640.jpg" title="middag i restaurangen" alt="restaurangdelen">
                    <figcaption>Boka middag i vår restaurang</figcaption>
                </figure>
                <hgroup>
                    <h3>Välkommen till restaurangen på Tuc golfklubb!</h3>
                </hgroup>
                <p>
                    Vi är glada att erbjuda en fantastisk matupplevelse i en vacker miljö. Besök vår restaurang för att njuta av välsmakande rätter, tillagade med färska ingredienser och en passion för kvalitet. Du kan enkelt boka bord direkt på vår hemsida under fliken "Restaurang/Shop".
                    För de som föredrar att njuta av vår mat hemma eller på språng erbjuder vi även take away. Perfekt för en avslappnad kväll eller en snabb lunch!
                    Varmt välkommen att upptäcka vår meny och boka ditt bord idag!
                </p>
            </article>

            <article id="article7">
                <figure>
                    <img src="/images/golf-2352092_640.jpg" title="nyklippt golfbana" alt="nyklippt golfbana">
                    <figcaption>Nyklippt gräs</figcaption>
                </figure>
                <hgroup>
                    <h3>🌱 Nyklippt Gräs på Tuc Golfklubb! 🌱</h3>
                </hgroup>
                <p>
                    Vi är glada att meddela att gräset på Tuc Golfklubb är nyklippt och i toppform! Denna tid på året är gräset av sin finaste kvalitet, vilket gör det perfekt för många golftillfällen.
                    Oavsett om du är en erfaren spelare eller nybörjare, väntar fantastiska ronder på dig här hos oss. Varmt välkommen att spela och njuta av den härliga atmosfären!
                </p>
            </article>

            <article id="article8">
                <figure>
                    <img src="/images/online-shopping-4532460_640.jpg" title="Handla online hos oss" alt="dator och en online låda">
                    <figcaption>Beställ online</figcaption>
                </figure>
                <hgroup>
                    <h3>Nu kan du beställa hem från vår webbshop</h3>
                </hgroup>
                <p>
                    Nu kan du enkelt beställa hem produkter från vår online-shop! Vi erbjuder ett brett utbud av golfprodukter som kan personaliseras, vilket gör dem till perfekta presenter för alla golfentusiaster. Oavsett om du letar efter en unik golfboll, en skräddarsydd keps eller praktiska tillbehör, har vi något för alla
                    Att ge bort en personlig golfprodukt är ett fantastiskt sätt att visa omtanke och uppskattning. Vår kollektion är noga utvald för att säkerställa hög kvalitet och stil, så att varje gåva blir minnesvärd.
                    Besök vår hemsida för att utforska hela vårt utbud och gör din beställning direkt. Ta chansen att överraska någon speciell med en unik gåva som de kommer att älska!
                </p>
            </article>

            <article id="article9">
                <figure>
                    <img src="/images/golf-1747079_640.jpg" title="Nyöppnat för säsongen" alt="bild över golfbanan">
                    <figcaption>Öppnat för säsongen</figcaption>
                </figure>
                <hgroup>
                    <h3>🌟 Golfbanan är öppen för säsongen! 🌟</h3>
                </hgroup>
                <p>
                    Äntligen har vi öppnat golfbanan för säsongen! Nu har vi hela våren och sommaren framför oss, och vi ser verkligen fram emot att du kommer och spelar golf hos oss.
                    Upplev vår vackra bana, som erbjuder utmanande hål och fantastisk natur. Oavsett om du är en erfaren golfare eller nybörjare, finns det alltid något för alla här på Tuc Golfklubb. Kom och njut av vårt fina ställe, umgås med vänner och skapa härliga minnen på golfbanan.
                    Varmt välkommen tillbaka till en ny säsong av golfspel och glädje!
                </p>
            </article>

            <article id="article10">
                <figure>
                    <img src="/images/news-2389226_640.png" title="golfbil" alt="vår nya golfbil">
                    <figcaption></figcaption>
                </figure>
                <hgroup>
                    <h3>📢 Ny nyhetssida på vår hemsida! 📢</h3>
                </hgroup>
                <p>
                    Vi har nu lanserat en ny nyhetssida på vår hemsida! Här kommer du att få all viktig information i första hand, så se till att hålla dig uppdaterad om vad som händer på golfklubben.
                    Från kommande evenemang och erbjudanden till nyheter om banan – allt du behöver veta finns samlat här. Besök vår nyhetssida regelbundet för att inte missa något spännande!
                </p>
            </article>
        </section>

        <aside class="side-menu">
            <section class="news-sidelist">
                <h2>Nyhetslista</h2>
                <a href="#article1">Nya Golfbilar</a>
                <a href="#article2">Publikrekord sommar tävling</a>
                <a href="#article3">Ansökan öppen höstens golfkurser</a>
                <a href="#article4">Nyrenoverat simulator-rum</a>
                <a href="#article5">Spela golf i solnedgången</a>
                <a href="#article6">Boka bord i restaurangen hos oss</a>
                <a href="#article7">Nyklippt gräsmatta</a>
                <a href="#article8">Nu kan du beställa i vår webbshop</a>
                <a href="#article9">Golfbanan öppen för säsongen</a>
                <a href="#article10">Första inlägget på vår nyhetssida</a>
            </section>

            <section class="signup-news">
                <h2>Prenumerera på vårt nyhetsbrev</h2>
                <p><b>Registrera dig här</b></p>
                <form action="/submit-newsletter" method="POST">
                    <label for="email">E-postadress:</label>
                    <input type="email" id="email" name="email" required placeholder="Din e-postadress">

                    <button type="submit">Prenumerera</button>
                </form>
            </section>
        </aside>
    </div>
</main>

