@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Banorna";
}
<link rel="stylesheet" href="~/css/omoss.css" />
<div class="background-div2">
    <div class="under-header">
        <ul class="meny-höger-sida-omoss">
            <li class="link-omoss"><a href="/Omoss/Historia">VÅR VISION OCH HISTORIA</a></li>
            <li class="link-omoss"><a href="/Omoss/Banorna">BANORNA</a></li>
            <li class="link-omoss"><a href="/Omoss/Faciliteter">FACILITETER</a></li>
        </ul>
    </div>
    <div class="banorna">
        <div class="banan1">
            <img src="~/images/banorna.bunker.jpg" class="img-bana" alt="man slår golfboll från en bunker">
            <div class="text-bana">
                <p>Våra 18-hålsbanor erbjuder en varierad och utmanande golfupplevelse i en vacker och naturskön miljö. Varje hål är noggrant designat för att utmana golfare på alla nivåer, med en blandning av tekniska fairways, strategiskt placerade bunkrar och snabba, välskötta greener. Här får du en perfekt balans mellan precision och kraft, med banans layout som kräver både taktiska slag och kreativ spelplanering.</p>
            </div>
        </div>
        <div class="banan2">
            <img src="~/images/banorna.golfare.webp" class="img-bana" alt="Golfare på golfbanan">
            <div class="text-bana">
                <p>Hålen slingrar sig genom skiftande landskap, från öppna vidder till tätare skogspartier, med majestätiska vyer över omgivande sjöar och kullar. Vattenhinder och naturliga inslag som träd och buskage är strategiskt placerade för att ge varje hål sin unika karaktär. Den välkända signaturbanan, hål 14, är en par 5 med en fantastisk utsikt från tee och en utmanande green omgiven av vatten, vilket gör det till en favorit bland både amatörer och erfarna spelare.</p>
            </div>
        </div>
        <div class="banan3">
            <img src="~/images/banorna.tee.jpg" class="img-bana" alt="Närbild på en klubba som ska slå en golfboll">
            <div class="text-bana">
                <p>
                    Oavsett om du spelar en lugn morgonrunda eller deltar i en tävling, erbjuder banorna något för alla, från snabba greener som belönar precision till generösa fairways som inbjuder till långa drives. Efter rundan kan du koppla av på klubbhuset och reflektera över spelets höjdpunkter, medan du blickar ut över banans sista hål. Golfbanan är alltid i toppskick tack vare vår dedikerade banpersonal, och den inbjuder till återkommande spelare som söker en fulländad golfupplevelse på en bana av högsta klass.
                </p>
            </div>
        </div>
    </div>
</div>