@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/omoss.css" />
<div class="background-div-omoss">

    <div class="under-header">
        <ul class="meny-höger-sida-omoss">
            <li class="link-omoss"><a href="/Omoss/Historia">VÅR VISION OCH HISTORIA</a></li>
            <li class="link-omoss"><a href="/Omoss/Banorna">BANORNA</a></li>
            <li class="link-omoss"><a href="/Omoss/Faciliteter">FACILITETER</a></li>
        </ul>
    </div>
    <div class="text-container-omoss">
        <p class="omoss">
            <strong>Välkommen till TUC Golfklubb, en naturskön oas för golfälskare!</strong> <br><br>
            Sedan starten 2004 har vi strävat efter att erbjuda en förstklassig upplevelse för både nybörjare<br> och erfarna spelare. <br>
            Vår vackra 18-hålsbana är omgiven av böljande landskap och utmanande terräng<br>
            som ger både nöje och utmaning för alla nivåer.<br>
            <br>
            Hos oss är din bekvämlighet i fokus. Vi erbjuder gott om parkeringsmöjligheter,<br>
            inklusive platser för husbilar, så att du kan njuta av din vistelse utan stress.<br><br>
            Våra moderna <a href="/Omoss/Faciliteter">faciliteter</a> inkluderar rymliga omklädningsrum, duschar och en <a href="/Restaurang">restaurang</a> där du kan njuta av en god måltid efter rundan. <br>
            För dig som vill förlänga vistelsen erbjuder vi även <a href="/Omoss/Faciliteter">övernattningsmöjligheter</a> i våra bekväma stugor.<br>
            <br>
            Som <a href="~/Identity/Account/Login"> medlem </a> i TUC Golfklubb får du tillgång till exklusiva förmåner, som rabatterade greenfee, förtur till <a href="/Spela/Bokning">bokning</a> av starttider och inbjudningar till klubbens <a href="/Tavlingar">tävlingar</a> och sociala evenemang. <br>
            Vår vänliga personal och engagerade medlemmar ser till att du alltid känner dig välkommen, oavsett om du besöker oss för en dag eller är här året om.<br>
            <br>

            Välkommen till TUC Golfklubb där golf, gemenskap och naturupplevelser möts!
        </p>
    </div>

</div>