<link rel="stylesheet" href="/css/legal.css">
<!--Header-->
<div class="header">
    <h1>Integritetspolicy, Cookies och Copyright</h1>
</div>


<div class="main">
    <div class="intpol">
        <div>
            <h2>Integritetspolicy för TUC Golfklubb <span class="material-symbols-outlined">policy</span></h2>
            <h2>Datum för senaste uppdatering: Oktober 30, 2024</h2>
            <ol class="ollink">
                <li>
                    Vilka personuppgifter samlar vi in?
                    <ul>
                        <li>
                            Vi kan samla in följande typer av personuppgifter:
                            <ul>
                                <li>Kontaktinformation (namn, e-postadress, telefonnummer)</li>
                                <li>Medlemsuppgifter och betalningsinformation</li>
                                <li>Informtion om deltagande i aktiviteter och evenemang</li>
                            </ul>
                        </li>
                    </ul>
                </li>


                <li>
                    Syften med databehandling
                    <ul>
                        <li>
                            Vi använder dina personuppgifter för att:
                            <ul>
                                <li>Hantera medlemskap och bokningar</li>
                                <li>Kommunicera med dig om klubbens aktiviteter och nyheter</li>
                                <li>Förbättra våra tjänster och anpassa din upplevelse</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    Rättslig grund för behandling
                    <ul>
                        <li>
                            Behandlingen av dina personuppgifter grundar sig på:
                            <ul>
                                <li>Fullgörande av avtal (medlemskap)</li>
                                <li>Samtycke (nyhetsbrev och marknadsföring)</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    Dela dina personuppgifter
                    <ul>
                        <li>Vi säljer aldrig dina uppgifter till tredje part</li>
                        <li>
                            Ditt data kan delas med tjänsteleverantörer för att hjälpa oss att tillhandahålla våra tjänster, och
                            vi
                            säkerställer att dessa parter skyddar din information.
                        </li>
                    </ul>
                </li>

                <li>
                    Dina rättigheter
                    <ul>
                        <li>
                            Du har rätt att:
                            <ul>
                                <li>Begära tillgång till dina personuppgifter</li>
                                <li>Begära rättelse av felaktiga uppgifter</li>
                                <li>Begära radering av dina uppgifter</li>
                                <li>Invända mot eller begränsa behandling av dina uppgifter</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    Kontakta oss om du har frågor om vår integritetspolicy eller önskar utöva dina rättigheter, vänligen
                    kontakta oss på<a href="/Kontakt">Kontakt</a>.
                </li>
            </ol>
        </div>

        <div class="c-foto">
            <img src="/images/intpolicy.jpg" alt="integritetspolicy sköld" class="c-image">
        </div>
    </div>

    <div class="note">
        <p class="pnote">
            <strong>Obs:</strong> Tack för att du är en del av TUC Golkfklubb. Vi värnar om din integritet
            och ser fram emot att få fortsätta att leverera en fantastisk golfupplevelse till dig!
        </p>
    </div>


    <div class="cookies">
        <div>
            <h2 class="rubrik">Om Cookies <span class="material-symbols-outlined">cookie</span></h2>
            <p class="pinfo">
                Denna webbplats använder cookies för att förbättra din användarupplevelse, analysera
                webbplatsens
                trafik
                och anpassa innehållet efter dina intressen.<br>
                En cookie är en liten textfil som lagras på din enhet när du besöker vår webbplats.
            </p>

            <h3>Vilka typer av cookies använder vi?</h3>
            <dl>
                <dt>Nödvändiga cookies:</dt>
                <dd>
                    Dessa cookies är nödvändiga för att webbplatsen ska fungera korrekt och kan inte stängas av i våra system.
                </dd>
                <dt>Prestandacookies:</dt>
                <dd>
                    Dessa används för att samla in information om hur besökare använder webbplatsen, till exempel vilka sidor
                    som besöks mest.
                </dd>
                <dt>Funktionalitets-cookies:</dt>
                <dd>
                    Dessa cookies gör att webbplatsen kan komma ihåg val du gör och ger förbättrade, mer personliga
                    funktioner.
                </dd>
            </dl>
        </div>
        <div>
            <img src="/images/cookies.jpg" alt="http cookies" class="c-image">
        </div>
    </div>

    <div class="cookie-consent">
        <form action="consent">
            <fieldset>
                <legend>Ditt samtycke</legend>
                <p>
                    Genom att klicka på "Acceptera alla kakor" samtycker du till användningen av cookies.<br><br><small>
                        Du kan hantera dina cookieinställningar när som helst via din webbläsare, inklusive blockering eller
                        radering av cookies
                    </small><br><br>
                </p>
                <label><input type="checkbox" name="cookie-consent" checked>Acceptera alla kakor</label>
                <label><input type="checkbox" name="cookie-preference"> Endast nödvändiga kakor</label>
                <br>
                <br>
                <input type="submit" value="Spara inställningar">
            </fieldset>
        </form>
    </div>

    <div class="h4link">
        <h4><mark>För mer information om hur vi använder cookies, vänligen se vår<a href="/Legal">Integritetspolicy</a></mark></h4>
    </div>


    <div class="copyrights">
        <h2 class="copy">Copyright <span class="material-symbols-outlined">copyright</span> 2004-2024 TUC Golfklubb</h2>
        <p class="rights">
            Alla rättigheter förbehållna. Innehållet på denna webbplats får inte reproduceras, distribueras
            eller publiceras på något sätt utan skriftligt medgivande från TUC Golfklubb.
        </p>
    </div>
</div>


<!--End Geneskod: legal -->