@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Foretag";
}
<link rel="stylesheet" href="~/css/SpelaGolf.css" />

<header>
    <img src="~/images/business-header.jpg" alt="Konferens händer i luften" class="business-header">
</header>

<section class="container-business">
    <div class="conference-title">
        <h1>Boka en unik konferensupplevelse med golf</h1>
        <p>
            Förena affärsmöten med avkoppling och teambuilding på golfbanan.
            Vår konferensupplevelse erbjuder en unik kombination av produktiva möten,
            nätverkande och golf - perfekt för att bygga starkare relationer och skapa nya
            affärsmöjligheter i en inspirerande miljö.
        </p>
    </div>
</section>

<section class="business-price">
    <div class="price-text">
        <h1>Paketpriser</h1>
        <ul>
            <li>Golfpaket för större grupper</li>
            <li>1000 - 1500 kr per person</li>
            <li>Inkluderar greenfee, lunch och eventuell fika</li>
            <li>Konferens med golf</li>
            <li>1500 - 3000 kr per person</li>
            <li>Inkluderar konferenslokal, lunch och golfspel</li>
            <li>Golflektioner för större grupper</li>
            <li>2000 - 5000 kr för en grupplektion (upp till 10 personer)</li>
            <li>En professionel instruktör ger lektioner anpassat efter gruppens behov</li>
            <li>Turneringspaket</li>
            <li>7000 - 15000 kr för hela eventet (10 - 30 deltagare)</li>
            <li>Inkluderar en organiserad golftävling. Mer information nedan</li>
        </ul>
    </div>
    <img src="~/images/business-price.jpg" alt="golfputt" class="price-img">
</section>

<div class="horizontal-line"></div>

<section class="contest">
    <div class="contest-text">
        <h1>Turnering</h1>
        <p>
            Upplev en oförglömlig dag på golfbanan med vårt företags turneringspaket! <br>
            Oavsett om ni är erfarna spelare eller nybörjare, kommer denna skräddarsydda <br>
            upplevelse att främja teambuilding, stärka relationer och skapa minnen.
        </p>
        <ul>
            <li>Vad som ingår</li>
            <li>En runda golf på vår natursköna 18-hålsbana</li>
            <li>Professionell tävlingsarrangemang med scorekort och regler</li>
            <li>Välkomstfika med kaffe och smörgåsar</li>
            <li>Lunchpaket på golfklubben, med val av flera olika menyer</li>
            <li>Eftermiddagsfika med snacks och drycker</li>
            <li>Trophéer och priser till vinnarna i olika kategorier (t.ex. Bästa spelare, Närmast hål)</li>
            <li>En minnesvärd prisutdelning efter tävlingen</li>
            <li>Tillgång till våra professionella eventplanerare för att säkerställa att allt går smidigt</li>
            <li>Anpassningar av paketet för att möta era specifika behov och önskemål</li>
            <li>Teambuilding-övningar på banan för att stärka samarbetet bland deltagarna</li>
        </ul>
    </div>
    <img src="~/images/business-trophy.jpg" alt="trofé" class="contest-img">
</section>

<div class="horizontal-line"></div>

<section class="conference">
    <div class="conference-space">
        <h1>Konferenslokaler på golfklubben</h1>
        <p>
            Våra moderna och fullt utrustade konferenslokaler erbjuder en idealisk plats för ert
            företagsevent, oavsett om det är ett strategimöte, en workshop eller en utbildningsdag.
            Med utsikt över den vackra golfbanan skapar vi en inspirerande miljö där ni kan kombinera
            affärer med avkoppling.
        </p>
    </div>
</section>

<section class="conference-info">
    <div class="conference-text">
        <ul>
            <li>Moderna och flexibla konferensrum</li>
            <li>Anpassningsbara lokaler som kan ställas i olika format, såsom styrelserum, U-bord eller biosittning</li>
            <li>Kapacitet för både små och stora grupper, från intima möten till större konferenser</li>
            <li>Teknisk utrustning</li>
            <li>Fullt utrustade med projektorer, stora skärmar, ljudsystem och snabbt Wi-Fi</li>
            <li>Videokonferensmöjligheter för att inkludera deltagare på distans</li>
            <li>Whiteboards, blädderblock och annan nödvändig presentationsutrustning</li>
            <li>Personlig service</li>
            <li>Tillgång till vår konferensvärd som hjälper er under dagen med alla praktiska detaljer</li>
            <li>Möjlighet att få konferenslokalen dekorerad eller anpassad enligt era önskemål</li>
            <li>Flexibla bokningsalternativ för att skräddarsy ert arrangemang</li>
        </ul>
    </div>
    <img src="~/images/business-conference.jpg" alt="konferensrum" class="conference-img">
</section>

<div class="conference-contact">
    <p>För bokning och lediga tider hänvisar vi till <a href="#">bokning@golfklubb.se</a></p>
</div>