@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/SpelaGolf.css" />
<header class="guest-header">
    <img src="~/images/guest-header.jpg" alt="Golfgreen">
</header>

<section class="booking-info">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d33207.3474643042!2d18.11332908871471!3d59.64340994613983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1728304038681!5m2!1ssv!2sse"
                width="600"
                height="400"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="guest-info">
        <h1>Gäster</h1> <br>
        <p>
            Vi är glada att kunna erbjuda dig en förstklassig golfupplevelse på våra vackra banor.
            Oavsett om du är en erfaren golfare eller nybörjare, ser vi fram emot att få hälsa dig välkommen
            för en dag fylld av golf och avkoppling i natursköna omgivningar. Innan du bokar din starttid,
            vänligen ta en titt på våra priser på hemsidan och kontakta receptionen för mer information och
            tillgängliga tider. <br><br>
            Vi ses på banan! <br> <br>
            <span>För bokning och lediga tider hänvisar vi till <a href="#">bokning@golfklubb.se</a></span>
        </p> <br> <br>
        <a href="/Grupprojekt-Golfklubb/kod-html/spela-golf/greenfee-regler.html" class="price-button">Bokningsregler & greenfee</a>
    </div>
</section>

<section class="hotel-info">
    <div class="hotel-text">
        <h1>Välkommen till en avkopplande hotellvistelse vid golfklubben!</h1>
        <p>
            Efter en dag på banan kan du koppla av i våra bekväma hotellrum, belägna bara ett stenkast från klubbhuset.
            Våra rum erbjuder en rofylld miljö med alla moderna bekvämligheter, perfekt för
            att återhämta dig inför nästa runda. Njut av vår restaurang med utsikt över golfbanan
            och börja dagen med en välsmakande frukostbuffé. Som gäst har du även tillgång till vårt
            spa och relaxavdelning för extra avkoppling. Vi ser fram emot att göra din vistelse minnesvärd - både på
            och utanför golfbanan!
        </p>
    </div>
    <div class="hotel-img">
        <img src="~/images/guest-hotel.jpg" alt="hotellrum">
    </div>
</section>

<section class="camping-info">
    <div class="camping-text">
        <h1>Camping vid Golfklubben</h1>
        <p>
            Vår golfklubb erbjuder inte bara förstklassiga golfbanor, utan även en naturnära
            campingupplevelse för våra gäster. Campingplatsen ligger i direkt anslutning till
            banorna och har bekväma faciliteter som eluttag, duschar och en grillplats.
            Oavsett om du kommer med husbil eller tält, kan du njuta av lugnet och avkopplingen
            efter en dag på golfbanan. Perfekt för den som vill kombinera golfspel med natur och
            friluftsliv, i en trivsam och avslappnad miljö.
        </p>
    </div>
    <div class="camping-img">
        <img src="~/images/guest-camping.jpg" alt="camping">
    </div>
</section>