@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Medlem.css" />
    <!-- Medlemssektion -->
    <div class="background-div-medlem">
        <div class="medlems-container">


            <!-- Text och inloggningssektion -->
            <div class="inlogning-medlem">
                <h2>Medlemsregistrering</h2>
                <p>Skapa ett konto för att få tillgång till medlemsforum och nyhetsbrev.</p>

                <!-- Inloggningsformulär -->
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="Full Name" />
                    <label asp-for="Input.FullName">Full Name</label>
                    <span asp-validation-for="Input.FullName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrera</button>

                <p>
                    Har du redan ett konto?<a class="button" asp-area="Identity" asp-page="/Account/Login">Logga in här!</a>
                </p>
            </form>
            </div>
        </div>
        <!-- Medlemsförmåner -->
        <div class="medlems-container">
            <div class="text-medlem">
                <h2>Medlemsförmåner</h2>
                <p>Som medlem i vår golfklubb erbjuder vi en rad exklusiva förmåner som förbättrar din golfupplevelse och ger dig tillgång till våra bästa tjänster. Nedan finner du några av de förmåner du får som medlem hos oss:</p>

                <p><strong>Exklusiva bokningstider:</strong> Få prioritet vid bokningar och tillgång till exklusiva starttider under helger och helgdagar.</p>
                <p><strong>Medlemsrabatter:</strong> Njut av rabatter på greenfee, lektioner, och utrustning i vår golfshop.</p>
                <p><strong>Tävlingar och event:</strong> Få inbjudningar till medlemmars tävlingar, sociala event och turneringar som hålls under hela året.</p>
                <p><strong>Nyhetsbrev:</strong> Håll dig uppdaterad med vårt exklusiva nyhetsbrev som ger dig de senaste nyheterna, erbjudanden och tips om banan.</p>
                <p><strong>Träningsmöjligheter:</strong> Som medlem får du tillgång till våra träningsfaciliteter såsom driving range och putting green utan extra kostnad.</p>
                <p><strong>Gästinbjudningar:</strong> Ta med vänner och familj till rabatterade priser när de spelar med dig på vår bana.</p>
                <p><strong>Personlig utveckling:</strong> Delta i regelbundna träningspass och golflektioner med våra professionella tränare som hjälper dig förbättra ditt spel.</p>
                <p><strong>Medlemsforum:</strong> Få tillgång till vårt exklusiva medlemsforum där du kan diskutera golfstrategier, dela erfarenheter och planera rundor med andra medlemmar.</p>


                <p>Med våra medlemsförmåner strävar vi efter att ge dig en förstklassig upplevelse både på och utanför golfbanan. Oavsett om du är nybörjare eller erfaren spelare finns det något för alla i vår golfklubb!</p>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}