<footer class="footer">
    <div class="footer-section contact">
        <h3>Kontakt</h3>
        <p>E-post: <a href="mailto:info@golfklubb.se">info@golfklubb.se</a></p>
        <p>Telefon: <a href="tel:+46123456789">+46 123 456 789</a></p>
    </div>

    <div class="footer-section address">
        <h3>Adress</h3>
        <p>Golfvägen 1<br>123 45 Stockholm</p>
    </div>

    <div class="footer-section hours">
        <h3>Öppettider</h3>
        <p>Mån - Fre: 09:00 - 18:00</p>
        <p>Lör - Sön: 10:00 - 18:00</p>
    </div>

    <div class="footer-section payments">
        <div class="payment-icons">
            <img src="~/images/visa.png" alt="Visa">
            <img src="~/images/mastercard.png" alt="Mastercard">
            <img src="~/images/klarna.png" alt="Klarna">
            <img src="~/images/paypal.png" alt="American Express">
            <img src="~/images/swish.png" alt="Swish">
        </div>
    </div>
</footer>