<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TucGolfklubb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TucGolfklubb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="top-nav">
            <ul class="menu">
                <li><a href="/Home">Hem</a></li>

                <li>
                    <a href="/Spela">Spela golf</a>
                    <ul class="dropdown-spela">
                        <li><a href="/Spela/foretag">Företag</a></li>
                        <li><a href="/Spela">Gäst</a></li>
                        <li><a href="/Spela/Greenfee">Greenfee & Regler</a></li>
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/spela-golf/tavlingar-evenemang/tavlingar-evenemang.html">Tävlingar/<br>Evenemang</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/Omoss">Om oss</a>
                
                    <ul class="dropdown">
                        <li><a href="/Omoss/Historia">Historia och vision</a></li>
                        <li><a href="/Omoss/Banorna">Våra banor</a></li>
                        <li><a href="/Omoss/Faciliteter">Faciliteter</a></li>
                        <li><a href="#">Medlem</a></li>
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/Omoss/nyheter.html">Nyheter</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Medlem</a>
                    <ul class="dropdown-medlem">
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Logga in</a></li>
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/createnewmember.html">Bli medlem</a></li>
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Förmåner</a></li>
                        <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/bokning.html">Bokning</a></li>


                    </ul>
                </li>

                <li><a href="/Kontakt">Kontakta oss</a></li>

                <li><a href="/Grupprojekt-Golfklubb/kod-html/restaurang.html" target="_blank">Restaurang</a></li>



                <li><a href="/Shop" target="_blank">Shop</a></li>
                
                <li><a href="/Forum">Forum</a></li>
                <li><partial name="_LoginPartial" /></li>

            </ul>

            <!-- Hamburgermeny för mindre skärmar -->
            <div class="hamburger-menu">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="hamburger-icon">&#9776;</label>
                <ul class="hamburger-dropdown">
                    <li><a href="/Grupprojekt-Golfklubb/Index.html">Hem</a></li>
                    <li>
                        <a href="/Spela">Spela golf</a>
                        <ul class="dropdown-spela">
                            <li><a href="/Spela/Foretag">Företag</a></li>
                            <li><a href="/Spela">Gäst</a></li>
                            <li><a href="/Spela/Greenfee">Greenfee & Regler</a></li>
                            <li id="four"><a href="/Grupprojekt-Golfklubb/kod-html/spela-golf/tavlingar-evenemang/tavlingar-evenemang.html">Tävlingar/Evenemang</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Omoss">Om oss</a>
                        <ul class="dropdown">
                            <li><a href="/Omoss/Historia">Historia och vision</a></li>
                            <li><a href="/Omoss/Banorna">Våra banor</a></li>
                            <li><a href="/Omoss/Faciliteter">Faciliteter</a></li>
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Medlem</a></li>
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/Omoss/nyheter.html">Nyheter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Medlem</a>
                        <ul class="dropdown-medlem">
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Logga in</a></li>
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/createnewmember.html">Bli medlem</a></li>
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/medlem.html">Förmåner</a></li>
                            <li><a href="/Grupprojekt-Golfklubb/kod-html/medlem/bokning.html">Bokning</a></li>
                        </ul>
                    </li>
                    <li><a href="/Kontakt">Kontakta oss</a></li>
                    <li><a href="/Grupprojekt-Golfklubb/kod-html/restaurang.html" target="_blank">Restaurang</a></li>
                    <li><a href="/Grupprojekt-Golfklubb/kod-html/shop-index.html" target="_blank">Shop</a></li>

                    <li><a href="/Forum">Forum</a></li>

                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">

            <div class="footer-logo">
                <img src="~/images/logo-footer.png" alt="Golfklubbens logotyp">
            </div>


            <div class="footer-hours">
                <h3>Öppettider</h3>
                <p>Måndag - Fredag: 09:00 - 18:00</p>
                <p>Lördag - Söndag: 10:00 - 18:00</p>
            </div>


            <div class="footer-links">
                <h3>Länkar</h3>
                <a href="/Omoss">Om oss</a>
                <a href="/Grupprojekt-Golfklubb/kod-html/kontakt/kontakt.html">Kontakt</a>

            </div>


            <div class="footer-social">
                <h3>Följ oss</h3>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="~/images/insta-loga.png" alt="Instagram" style="width: 30px; margin-right: 10px;">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="~/images/facebook-loga.png" alt="Facebook" style="width: 30px;">
                </a>
            </div>

        </div>
        <!--Start of Geneskod Upphövsrätt-->
        <hr class="line">
        <div class="footer-container-legal">
            <div class="footer-cookies">
                <p>
                    <a href="/Grupprojekt-Golfklubb/kod-html/legal/legal.html">Kakor</a> &VerticalLine;
                    <a href="/Grupprojekt-Golfklubb/kod-html/legal/legal.html">Integritetspolicy</a>
                </p>
            </div>
            <div class="footer-copyright">
                <p><a href="/Grupprojekt-Golfklubb/kod-html/legal/legal.html">Copyright &copy; 2004-2024</a></p>
            </div>
        </div>
        <!--End of Geneskod Upphövsrätt-->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
