
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TucGolfklubb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TucGolfklubb.styles.css" asp-append-version="true" />
    <style>
        .top-nav {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            background-color: #444;
        }

        .menu {
            display: flex;
            flex-wrap: wrap;
            padding: 15px 30px;
            margin: 0;
            list-style: none;
            gap: 20px;
        }

            .menu li a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

        main {
            min-height: 80vh;
        }

        ul.dropdown,
        ul.dropdown-spela,
        ul.dropdown-medlem,
        ul.hamburger-dropdown {
            background-color: rgba(0, 0, 0, 0.85); /* mörk bakgrund */
            color: white;
            padding: 15px;
            margin: 0;
            list-style: none;
            border-radius: 5px;
            z-index: 10000;
            position: absolute;
        }

            ul.dropdown li a,
            ul.dropdown-spela li a,
            ul.dropdown-medlem li a,
            ul.hamburger-dropdown li a {
                color: white;
                text-decoration: none;
                display: block;
                padding: 8px 12px;
            }

                ul.dropdown li a:hover,
                ul.dropdown-spela li a:hover,
                ul.dropdown-medlem li a:hover,
                ul.hamburger-dropdown li a:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
    </style>

</head>
<body>
    <header>
        <div class="top-nav">
            <ul class="menu">
                <li><a href="/Home">Hem</a></li>

                <li>
                    <a href="/Spela">Spela golf</a>
                    <ul class="dropdown-spela">
                        <li><a href="/Spela/foretag">Företag</a></li>
                        <li><a href="/Spela">Gäst</a></li>
                        <li><a href="/Spela/Greenfee">Greenfee & Regler</a></li>
                        <li><a href="/Tavlingar">Tävlingar/<br>Evenemang</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/Omoss">Om oss</a>
                
                    <ul class="dropdown">
                        <li><a href="/Omoss/Historia">Historia och vision</a></li>
                        <li><a href="/Omoss/Banorna">Våra banor</a></li>
                        <li><a href="/Omoss/Faciliteter">Faciliteter</a></li>
                        <li><a href="~/Identity/Account/Login">Medlem</a></li>
                        <li><a href="/Nyheter">Nyheter</a></li>
                    </ul>
                </li>

                <li>
                    <a href="~/Identity/Account/Login">Medlem</a>
                    <ul class="dropdown-medlem">
                        <li><a href="~/Identity/Account/Login">Logga in</a></li>
                        <li><a href="/Identity/Account/Register?returnUrl=%2F">Bli medlem</a></li>
                        <li><a href="~/Identity/Account/Login">Förmåner</a></li>
                        <li><a href="/Spela/Bokning">Bokning</a></li>


                    </ul>
                </li>

                <li><a href="/Kontakt">Kontakta oss</a></li>

                <li><a href="/Restaurang" target="_blank">Restaurang</a></li>



                <li><a href="/Shop" target="_blank">Shop</a></li>
                
                <li><a href="/Forum">Forum</a></li>
                
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="nav-link text-warning" href="/Admin">Adminpanel</a></li>
                }

                <li><partial name="_LoginPartial" /></li>

            </ul>

            <!-- Hamburgermeny för mindre skärmar -->
            <div class="hamburger-menu">
                <input type="checkbox" id="menu-toggle" class="menu-toggle">
                <label for="menu-toggle" class="hamburger-icon">&#9776;</label>
                <ul class="hamburger-dropdown">
                    <li><a href="/Home">Hem</a></li>
                    <li>
                        <a href="/Spela">Spela golf</a>
                        <ul class="dropdown-spela">
                            <li><a href="/Spela/Foretag">Företag</a></li>
                            <li><a href="/Spela">Gäst</a></li>
                            <li><a href="/Spela/Greenfee">Greenfee & Regler</a></li>
                            <li id="four"><a href="Tavlingar">Tävlingar/Evenemang</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Omoss">Om oss</a>
                        <ul class="dropdown">
                            <li><a href="/Omoss/Historia">Historia och vision</a></li>
                            <li><a href="/Omoss/Banorna">Våra banor</a></li>
                            <li><a href="/Omoss/Faciliteter">Faciliteter</a></li>
                            <li><a href="~/Identity/Account/Login">Medlem</a></li>
                            <li><a href="/Nyheter">Nyheter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Identity/Account/Login">Medlem</a>
                        <ul class="dropdown-medlem">
                            <li><a href="~/Identity/Account/Login">Logga in</a></li>
                            <li><a href="/Identity/Account/Register?returnUrl=%2F">Bli medlem</a></li>
                            <li><a href="~/Identity/Account/Login">Förmåner</a></li>
                            <li><a href="/Spela/Bokning">Bokning</a></li>
                        </ul>
                    </li>
                    <li><a href="/Kontakt">Kontakta oss</a></li>
                    <li><a href="/Restaurang" target="_blank">Restaurang</a></li>
                    <li><a href="/Shop" target="_blank">Shop</a></li>

                    <li><a href="/Forum">Forum</a></li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="text-warning" href="/Admin">Adminpanel</a></li>
                    }

                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">

            <div class="footer-logo">
                <img src="~/images/logo-footer.png" alt="Golfklubbens logotyp">
            </div>


            <div class="footer-hours">
                <h3>Öppettider</h3>
                <p>Måndag - Fredag: 09:00 - 18:00</p>
                <p>Lördag - Söndag: 10:00 - 18:00</p>
            </div>


            <div class="footer-links">
                <h3>Länkar</h3>
                <a href="/Omoss">Om oss</a>
                <a href="/Kontakt">Kontakt</a>

            </div>


            <div class="footer-social">
                <h3>Följ oss</h3>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="~/images/insta-loga.png" alt="Instagram" style="width: 30px; margin-right: 10px;">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="~/images/facebook-loga.png" alt="Facebook" style="width: 30px;">
                </a>
            </div>

        </div>
        <!--Start of Geneskod Upphövsrätt-->
        <hr class="line">
        <div class="footer-container-legal">
            <div class="footer-cookies">
                <p>
                    <a href="/Legal">Kakor</a> &VerticalLine;
                    <a href="/Legal">Integritetspolicy</a>
                </p>
            </div>
            <div class="footer-copyright">
                <p><a href="/Legal">Copyright &copy; 2004-2024</a></p>
            </div>
        </div>
        <!--End of Geneskod Upphövsrätt-->
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
