.reviews-container {
    width: 400px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviews-container, h4 {
    font-family: "Montserrat";
    font-size: 18px;
}

.toggle-reviews {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
}

.review-box {
    margin-top: 15px;
    padding: 10px;
    font-family: "Montserrat";
    font-size: 15px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

    .review-box.expanded {
        max-height: 1000px;
        opacity: 1;
        pointer-events: auto;
    }

.reviews-container form {
    margin-top: 10px;
}

.reviews-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Montserrat";
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 100px;
    resize: vertical;
}

.reviews-container select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

.reviews-container button {
    padding: 10px 20px;
    background-color: #2a74fd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

    .reviews-container button:hover {
        background-color: #4a89ff;
    }