body {
    margin-top: 20px;
    height: 100%;
}
h1 {
    text-align:center;
}
h2 {
    font-size: xx-large;
    width:200px;
}
th, td {
    padding: 15px;
}
p {
    margin:auto;
}

.PaymentMethod {
    display:inline;
    width: 90%;
    margin-top: 30px;
}
.PaymentMethod p {
    margin-top: 30px;
}
.Input {
    width: 90%;
}
.btn-success {
    background-color:dodgerblue;
    padding:10px;
    margin:10px;
    border-radius:20px;
    width:340px;
}

ul {
    padding: 15px;
}

li {
    padding:15px;
}
.Varukorg {
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:5px;
    width:400px;
    margin-bottom:20px;
    padding-top:20px;
    padding: 5px;
}

    .column-pay {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .Kvitto a {
        text-align: center;
    }

    .Kvitto h2 {
        text-align: center;
        margin: 5px;
    }

    .adress {
        display: flex;
        flex-direction: column;
    }

        .adress input {
            width: 20rem;
        }

    /* Kvitto delen */

.Kvitto {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1em;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    width: 70%;
}

    .table {
        line-height: 5px;
    }

.wrapper-cart-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cart-main-content {
    flex: 1;
}

@media (max-width: 600px) {
    .Varukorg,
    .Kvitto,
    #orderSummaryContainer {
        width: 90% !important;
    }

    .btn-success {
        width: 90% !important;
    }

    .adress input {
        width: 100% !important;
    }

    .PaymentMethod {
        width: 100%;
    }
}